html{
    scroll-behavior: smooth;
}

body{
    /* margin:50px; */
    margin:3vw;
    background-color: rgb(51, 46, 40);
    font-family: "komet", sans-serif;
    font-weight: 700;
    font-style: italic;
    overflow-x: hidden;
}
a {
    color: inherit;
    text-decoration: none; 
}

.cdcatalogue{
    position: relative;
    width: 120px;
    height: 120px;
    margin:10px;
    /* background-color: aliceblue; */
}

.caption{
    position: absolute;
    transform: translate(-50%, -50%);
    top:50%;
    left:50%;
    color: rgb(255, 254, 240);
    margin: 0;
    opacity: 0;
    pointer-events: none;
    text-align: center;
}

.cataimg{
    width: 120px;
    height: 120px;
    position: absolute;
}

.cataimg:hover{
    transform: scale(1.2);
    transition: 0.3s;

}

.cataimg:hover ~ .caption{
    opacity: 1;
    transition: 0.3s;

}

h1{
    font-size: 70px;
    color: rgb(255, 232, 157);
}

summary{
    display: inline-block;
    font-size: xx-large;
    margin: 20px;
    color: aliceblue;
    
}

details > summary::before {
    content: '💿';
}

details[open] > summary::before {
    content: '📀';

}

.cata{
    display: flex;
    flex-wrap: wrap;
}

.player{
    position: relative;
    top:700px;
}

#cartoons,#games{
    position: relative;
    /* top:800px; */
    width: auto;
    height:400px;
    background-color: rgba(145, 145, 145, 0.288);
    /* border:outset #ffeaa5 20px; */
    /* border-radius: 30px; */
    padding: 3vw;
    margin-bottom:200px;
}

.content {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:87vw;
    height:650px;
    /* background-color: #ffffff; */
    z-index: 9999;
    pointer-events: none;
}
.player h1{
    margin-top: -10px;;
    margin-bottom: 30px;
}

.displaycd{
    position: absolute;
    right: 0%;
    width:650px;
    height:650px;
    animation: rotate 8s linear infinite;
    /* background-color: #ff0000; */
}
@keyframes rotate {
    from {
        transform: rotate(0deg); /* 从0度开始旋转 */
    }
    to {
        transform: rotate(360deg); /* 旋转360度 */
    }
}

.title{
    position: absolute;
    top: 70%;
    transform: translate(0%, -50%);
    font-size: 40px;
    margin: auto;
    color:rgb(255, 255, 255)
}

/* 按钮样式 */
.button {
    /* position: relative; */
    width:25px;
    height:25px;
    cursor: pointer;
    display: inline-flex;
    background-color: #ffc04c;
    /* text-align: center; */
    align-items: center; /* 垂直居中 */
    justify-content: center;
    margin: auto;
    border: none;
    margin-right: 20px;
    font-size: 30px;
}
.button::before {
    content: attr(data-text); /* 使用按钮的data-text属性作为显示的文本 */
}
.button.active {
    background-color: #ff0000; /* 按钮激活时改变背景色 */
}

/* 控制显示浮动div */
#button1:checked ~ #content1,
#button2:checked ~ #content2,
#button3:checked ~ #content3 {
    display: block;
}

