html{
    scroll-behavior: smooth;
}

body{
    /* margin:50px; */
    margin:3vw;
    background-color: rgb(51, 46, 40);
    font-family: "komet", sans-serif;
    font-weight: 700;
    font-style: italic;
    overflow-x: hidden;
}
a {
    color: inherit;
    text-decoration: none; 
    cursor: alias;
}

.cdcatalogue{
    position: relative;
    width: 120px;
    height: 120px;
    margin:10px;
    /* background-color: aliceblue; */
}

.caption{
    position: absolute;
    transform: translate(-50%, -50%);
    top:50%;
    left:50%;
    color: rgb(255, 254, 240);
    margin: 0;
    opacity: 0;
    pointer-events: none;
    text-align: center;
}

.cataimg{
    width: 120px;
    height: 120px;
    position: absolute;
}

.cataimg:hover{
    transform: scale(1.2);
    transition: 0.3s;

}

.cataimg:hover ~ .caption{
    opacity: 1;
    transition: 0.3s;

}

h1{
    font-size: 70px;
    color: rgb(255, 232, 157);
}

summary{
    display: inline-block;
    font-size: xx-large;
    margin: 20px;
    color: aliceblue;
    cursor: pointer;
}

details > summary::before {
    content: '💿';
}

details[open] > summary::before {
    content: '📀';

}

.cata{
    display: flex;
    flex-wrap: wrap;
}

.player{
    position: relative;
    top:700px;
}

#cartoons,#oldmusics,#movies,#games,#kpops{
    position: relative;
    /* top:800px; */
    width: auto;
    height:400px;
    background-color: rgb(104, 88, 79);
    /* border:outset #ffeaa5 20px; */
    border-radius: 30px;
    padding: 3vw;
    margin-bottom:200px;
}

.content {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:87vw;
    height:650px;
    /* background-color: #ffffff; */
    z-index: 9999;
    pointer-events: none;
}
.player h1{
    margin-top: -10px;;
    margin-bottom: 30px;
}

.displaycd{
    position: absolute;
    right: 0%;
    width:650px;
    height:650px;
    animation: rotate 8s linear infinite;
    /* background-color: #ff0000; */
}
@keyframes rotate {
    from {
        transform: rotate(0deg); /* 从0度开始旋转 */
    }
    to {
        transform: rotate(360deg); /* 旋转360度 */
    }
}

.title{
    position: absolute;
    top: 70%;
    transform: translate(0%, -50%);
    font-size: 30px;
    margin: auto;
    color:rgb(255, 255, 255)
}

audio{
    position: relative;
    top:-15px;
}

/* 按钮样式 */
.button {
    /* position: relative; */
    width:25px;
    height:25px;
    cursor: pointer;
    display: inline-flex;
    background-color: #ffc04c;
    /* text-align: center; */
    align-items: center; /* 垂直居中 */
    justify-content: center;
    margin: auto;
    border: none;
    margin-right: 20px;
    font-size: 30px;
}
.button::before {
    content: attr(data-text); /* 使用按钮的data-text属性作为显示的文本 */
}
.button.active {
    background-color: #ff0000; /* 按钮激活时改变背景色 */
}

/* input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ffa500;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
} */

/* 控制显示浮动div */
#buttonA1:checked ~ #contentA1,
#buttonA2:checked ~ #contentA2,
#buttonA3:checked ~ #contentA3,
#buttonA4:checked ~ #contentA4,
#buttonA5:checked ~ #contentA5,
#buttonA6:checked ~ #contentA6,
#buttonA7:checked ~ #contentA7,
#buttonA8:checked ~ #contentA8,
#buttonA9:checked ~ #contentA9,
#buttonB1:checked ~ #contentB1,
#buttonB2:checked ~ #contentB2,
#buttonB3:checked ~ #contentB3,
#buttonB4:checked ~ #contentB4,
#buttonB5:checked ~ #contentB5,
#buttonB6:checked ~ #contentB6,
#buttonB7:checked ~ #contentB7,
#buttonB8:checked ~ #contentB8,
#buttonB9:checked ~ #contentB9,
#buttonB10:checked ~ #contentB10,
#buttonB11:checked ~ #contentB11,
#buttonB12:checked ~ #contentB12,
#buttonC1:checked ~ #contentC1,
#buttonC2:checked ~ #contentC2,
#buttonC3:checked ~ #contentC3,
#buttonC4:checked ~ #contentC4,
#buttonC5:checked ~ #contentC5,
#buttonD1:checked ~ #contentD1,
#buttonD2:checked ~ #contentD2,
#buttonD3:checked ~ #contentD3,
#buttonD4:checked ~ #contentD4,
#buttonE1:checked ~ #contentE1,
#buttonE2:checked ~ #contentE2,
#buttonE3:checked ~ #contentE3,
#buttonE4:checked ~ #contentE4,
#buttonE5:checked ~ #contentE5,
#buttonE6:checked ~ #contentE6,
#buttonE7:checked ~ #contentE7,
#buttonE8:checked ~ #contentE8,
#buttonE9:checked ~ #contentE9, 
#buttonE10:checked ~ #contentE10 {
    display: block;
}

.empty{
    width: auto;
    height: 10px;
}

audio{
    pointer-events: all;
}