body{
    font-family: "attic-antique", serif;
    font-style: italic;
    letter-spacing:0.08em;
}

i,span{
    font-weight: 1000;
}

p, legend, ol{
    font-style: normal;
    letter-spacing: 0;
}

summary{
    line-height: 2em;
}