body{
    font-family: "attic-antique", serif;
    font-style: italic;
}

i{
    font-weight: 900;
}

p{
    font-style: normal;
}

span{
    font-weight: 1000;
}

legend, ol{
    font-style: normal;
}