body{
    background-color: beige;    
}
.container{
    width:1200px;
    height: 1200px;

    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
}
.box{
    width:200px;
    height:200px;
    /* background-color: aqua; */
    position: relative;
    /* top:500px; */
}
.flowerbasic{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    width:90px;
    height:90px;
    border-radius: 50%;
    background-color: rgb(255, 159, 196);
}
.corebasic{    
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    width:20px;
    height:20px;
    border-radius: 50%;
    background-color: beige;
}

.petal1{
    position: absolute;
    top:50px;
}
.petal2{
    position: absolute;
    left:50px;
}
.petal3{
    position: absolute;
    top:150px;
}
.petal4{
    position: absolute;
    left:150px;
}
.petalcore{
    position: absolute;
    left:100px;
}
