html{
    font-family: "verveine", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
    background-color: rgb(178, 231, 209);
    color: rgb(142, 111, 172);
}

div{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    display: flex;
    width: 90vw;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p{

    text-align: center;
}

span{
    color:rgb(0, 128, 133);
}

span:hover{
    transform: scale(1.2);
}