body {
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color:rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
}


.left, .right{
    flex:1;
    text-align: center;
}

h2{
    font-size: 4vh;
}

.a{
    font-size: 12vh;
    font-weight: 900;
}

.a1:hover{
    font-size: 14vh;
}

.yin{
    position: absolute;
    top: 12.5%;
    left:50%;
    transform: translate(-50%,-50%);
    
}
.yi{
    position: absolute;
    top:37.5%;
    left:50%;
    transform: translate(-50%,-50%);
}
.li{
    position: absolute;
    top:62.5%;
    left:50%;
    transform: translate(-50%,-50%);
}
.zan{
    position: absolute;
    top:87.5%;
    left:50%;
    transform: translate(-50%,-50%);
}

.yinbg{
    background: radial-gradient(circle,#b8ceff,#ffffff,#76b1ff);
}

.yibg{
    background: radial-gradient(circle,#ffccc8,#ffffff,#f89088);
}

.libg{
    background: radial-gradient(circle,#ffd68b,#ffffff,#ffcf55);
}

.zanbg{
    background: radial-gradient(circle,#e4d6fd,#ffffff,#976eb3);
}

.a:hover .bg{
    z-index: -1;
}

.yin:hover{
    text-shadow: 0px 0px 10px #d3eaff;
}
.yi:hover{
    text-shadow: 0px 0px 10px #fcc5d1;
}
.li:hover{
    text-shadow: 0px 0px 10px #ffbfa1;
}
.zan:hover{
    text-shadow: 0px 0px 10px #efd9fc;
}


.bg{
    position: absolute;
    z-index:-5;
    left:50%;
    top:50%;
    width:100%;
    height:100%;
    transform: translate(-50%,-50%);
    animation: zoom 8s ease-in-out infinite;
}

.textcolor{
    position: absolute;
    z-index:-5;
    left:50%;
    top:50%;
    width:100%;
    height:100%;
    transform: translate(-50%,-50%);
}

#originbg{
    background: radial-gradient(circle,#ffb49d,#ffffff,#90a8c7);
    position: absolute;
    z-index: -2;
    left:50%;
    top:50%;
    width:100%;
    height:100%;
    transform: translate(-50%,-50%);
    animation: zoom 8s ease-in-out infinite;
}

@keyframes zoom{
    0%{
        width:100%;
        height:100%;
    }
    50%{
        width:200%;
        height:200%;
    }
    100%{
        width:100%;
        height:100%;
    }
}